<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets-R-Us Home Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>



<body>
    
    <header class="header-main">
        <div class="header-main-logo">
            <img src="img/logo.jpg" alt="Pets-R-Us">
                <nav class="header-main-nav">
                    <ul>
                        <li><a href="index.ejs">Home</a></li>
                        <li><a href="boarding.html">Boarding</a></li>
                        <li><a href="grooming.ejs">Grooming</a></li>
                        <li><a href="training.html">Training</a></li>
                        <li><a href="registration.html">Registration</a></li>
                        <li><a href="customerlist.html">Customer List</a></li>
                        <li><a href="appointment.html">Appointment</a></li>
                    </ul>   
                </nav>
        </div>
        
        
        <div class="header-main-sm">
            <div class="header-main-sm-fb"></div>
            <div class="header-main-sm-in"></div>
        </div>
           

    </header>

<div class="Overall-main">
    <div class="Overall-main-pic">
        <img src="img/BeagleHP1.jpg" alt="2 Beagle Puppies">
    </div>


</div>
<div class="Grooming-Main">
 
    <h1>hello world</h1>


</div>
<div class="Grooming-Main-content">
    <div class="Grooming-Main-content-pkgs">
        <table class="Grooming-Main-content-pkgs-table">
            <tr>
                <th>Package A</th>
                <th>Package B</th>
                <th>Package C</th>
            </tr>
            <tr>
                <td>Hand wash</td>
                <td>Standard nail trim</td>
                <td>Ear Cleaning</td>
                <td>Brush/Blow out </td>
                <td>Lavender Scented Body Spray</td>
            </tr>
            <tr>
                <td>Hand wash</td>
                <td>Re-enforce Nail Dremel/Trim</td>
                <td>Ear Cleaning & Ointment treatment</td>
                <td>Brush/Blow out</td>
                <td>Citrus Scented Body Spray </td>
                <td>Dental Hygiene</td>
            </tr>
            <tr>
                <td>Hand wash & Deep Conditioning </td>
                <td>Specialty Shampoo</td>
                <td>Furminator deshedding </td>
                <td>Deluxe Pawdicure</td>
                <td>Nail Dremel</td>
                <td>Ear Cleaning & Ointment treatment</td>
                <td>Brush/Blow out</td>
                <td>Jasmine or Rose Scented Body Spray</td>
                <td>Dental Hygiene</td>
            </tr>
        </table>
    </div>


</div>

<h1>hello world</h1>

</body>
</html>
