body{
    background-color: #d2d4d4;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #00deff
}
.header-main{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
     
}

.header-main-logo{
    width: fit-content;
    height: 100%;
    background-color: #fff;
    padding-left: 60px;
    display: flex;
}

.header-main-logo img {
    height: 40 px;
    
       
}

.header-main-nav{
    width: fit-content;
    height: 100%;
    background-color: #fff;
    display: flex;
}

.header-main-nav ul{
    list-style: none;
    margin-left: 30px;
}

.header-main-nav ul li{
    display: inline;
    float: left;
   
}

.header-main-nav ul li a {
    padding: 0 10px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
    
}


.header-main-sm{
    width: 120px;
    height: 100%;
    background-color: #fff;
    padding-right: 60px;
    display: flex;
}

.header-main-sm-fb{
    width: 20px;
    height: 20px;
    background-color: #00deff;
    
} 

.header-main-sm-in{
    width: 20px;
    height: 20px;
    background-color: #0000fe;
    
} 


/*top picture on each page*/

.navigation {
    background: #7cb71c;
    float: left;
    width: 50%;
    height: 75%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.navigation-background {
    max-height: 550px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}


.extra {
    background: #147FA9;
    float: right;
    width: 49.9%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container img {
    height: 100%;
    width: 100%;

}

/*grooming page css*/


.wrappergroom {
    float: left;
    width: 100%;
    margin-left: -200px;
    background: #b7481c;
}

.navigationgroom {
    float: left;
    width: 25%;
    margin-left: -25%;
    background: #7cb71c;

}

.extragroom {
    
    float: left;
    width: 200px;
    background: #147FA9
}


/*grid styling*/

.grid-header {
    color: #fffbfc;
    font-size: 40px;
    text-align: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #30292f;
    padding: 10px;
    margin: 20px;
  }
  
  .grid-item {
    background-color: #fffbfc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .grid-item:hover {
    background-color: #413f54;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    color: #fffbfc;
  }
  /* the size change so had to readjust */
  .grid-container-boarding {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #30292f;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
  }
  
  .grid-item-boarding {
    background-color: #fffbfc;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-left: 100px;
  }
  
  .grid-item-boarding:hover {
    background-color: #413f54;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    color: #fffbfc;
  }
  /* grid end */
  