<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>
<header class="header-main">
  <div class="header-main-logo">
      <img src="img/logo.jpg" alt="Pets-R-Us">
          <nav class="header-main-nav">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/boarding">Boarding</a></li>
                  <li><a href="/grooming">Grooming</a></li>
                  <li><a href="/training">Training</a></li>
                  <li><a href="/registration">Registration</a></li>
                  <li><a href="/customer-list">Customer List</a></li>
                  <li><a href="/appointment">Appointment</a></li>
              </ul>   
          </nav>
  </div>

  <div class="header-main-sm">
      <div class="header-main-sm-fb"></div>
      <div class="header-main-sm-in"></div>
  </div>
     

</header>

<body>

<div>
    
    <div class ="navigation-background">
        <div class="container">
            <figure>
                <img
                  src="img/BeagleHP20.jpg"
                  alt="Pets-R-Us Beagle puppy on the bed"
                  class="navigation-image"
                  title="Photo by Lina Kivaka: https://www.pexels.com/photo/beagle-lying-down-1741235/ "
                />
                
                <figcaption>Photo by Lina Kivaka: https://www.pexels.com/photo/beagle-lying-down-1741235/ </figcaption> <!--currently does not show up on web page-->
              </figure> 
        </div>
    
</div>
<div class="card center-div">
  <div class="card-title">
      Customer List
  </div>
  <!-- This is the table that displays our MongoDB customers -->
  <div class="card-content">
     
      <table class="table">
          <tr>
              <th>Customer Id</th>
              <th>Email</th>
              
          </tr>
          <tbody>
          <% customer.forEach(function(cus) { %>
          <tr>
              <td><%=cus.customerId  %></td>
              <td><%= customer.email %></td>
            
          </tr>
         
          </tbody>
          <% })%>
      </table>

  </div>
</div>
</div>
<%- include('./partials/_footer.ejs') -%>

</body>