<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>

<%- include('./partials/_header.ejs')-%>
<body>
<div>
    
    <div class ="navigation-background">
        <div class="container">
            <figure>
                <img
                  src="img/BeagleHP20.jpg"
                  alt="Pets-R-Us Beagle puppy on the bed"
                  class="navigation-image"
                  title="Photo by Lina Kivaka: https://www.pexels.com/photo/beagle-lying-down-1741235/ "
                />
                
                <figcaption>Photo by Lina Kivaka: https://www.pexels.com/photo/beagle-lying-down-1741235/ </figcaption> <!--currently does not show up on web page-->
              </figure> 
        </div>
    
</div>

<%- include('./partials/_footer.ejs') -%>

</body>