<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>



<div>
    
    <header class="header-main">
        <div class="header-main-logo">
            <img src="img/logo.jpg" alt="Pets-R-Us">
                <nav class="header-main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/boarding">Boarding</a></li>
                        <li><a href="/grooming">Grooming</a></li>
                        <li><a href="/training">Training</a></li>
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/customerlist">Customer List</a></li>
                        <li><a href="/appointment">Appointment</a></li>
                    </ul>   
                </nav>
        </div>

        <div class="header-main-sm">
            <div class="header-main-sm-fb"></div>
            <div class="header-main-sm-in"></div>
        </div>
           

    </header>

    <div class ="navigation-background">
        <div class="container">
            <figure>
                <img
                  src="img/BeagleHP21.jpg"
                  alt="Pets-R-Us Beagle puppy being groom"
                  class="navigation-image"
                  title="Photo by Nishant Aneja: https://www.pexels.com/photo/adorable-beagle-puppy-walking-on-grassy-lawn-4203282/ "
                />
                
                <figcaption>Photo by Nishant Aneja: https://www.pexels.com/photo/adorable-beagle-puppy-walking-on-grassy-lawn-4203282/ </figcaption> <!--currently does not show up on web page-->
              </figure> 
        </div>
    
</div>

    <!-- grooming packages -->
    <div class="grid-container">
        <div class="card">
          <div class="card-content">
            <h3 class="grid-header">Check out our Grooming Packages!</h3>
            <div class="grid-item">
            <ul>
              <li><b>Standard Collection: Price: $35</b></li>
              <li>
                Includes trimming dogs, washing the fur. Lastly, blow drying and brushing.
            
              </li>
            </div>
            <div class="grid-item">
              <li><b>Nature Collection: Price: $65</b></li>
              <li>
                Includes trimming and natural herb shampoo. Blow drying and brushing. Also, nail protection kit. 
                
              </li>
            </div>
            <div class=" grid-item">
              <li><b>Warmth Collection: Price: $85</b></li>
              <li>
                Includes trimming and natural herb shampoo. Blow drying and brushing. Nail protection kit. Breathe and teeth treatment.
              </li>
            </div>
            <div class="grid-item">
              <li><b>National Collection:  Price: $115</b></li>
              <li>
                Includes all the previous services listed above along with muscle and heat treatment for all bones.
               
              </li>
            </ul>
          </div>
        </div>

        <!-- end of first grid-->

   
    </div>
