<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>



<div>
    
    <header class="header-main">
        <div class="header-main-logo">
            <img src="img/logo.jpg" alt="Pets-R-Us">
                <nav class="header-main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/boarding">Boarding</a></li>
                        <li><a href="/grooming">Grooming</a></li>
                        <li><a href="/training">Training</a></li>
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/customerlist">Customer List</a></li>
                        <li><a href="/appointment">Appointment</a></li>
                    </ul>   
                </nav>
        </div>

        <div class="header-main-sm">
            <div class="header-main-sm-fb"></div>
            <div class="header-main-sm-in"></div>
        </div>
           

    </header>


    <div class ="navigation-background">
        <div class="container">
            <figure>
                <img
                  src="img/BeagleHP.jpg"
                  alt="Pets-R-Us Beagle puppy being fed"
                  class="navigation-image"
                  title="Photo by Nishant Aneja: https://www.pexels.com/photo/cute-beagle-puppy-on-grassy-meadow-4203281/ "
                />
                <figcaption>Photo by Pixabay: https://www.pexels.com/photo/action-adorable-animal-beautiful-264005/</figcaption> <!--currently does not show up on web page-->
              </figure> 
        </div>
    


    </div>

    <div class="navigation">

        <div class="card">

            <h3>Dog of the Week</h3>
            <hr class="class-1"/>
            <h3><p><b>Name: Lucy </b></p></h3>
            <h3><p><b>Age: 3 Years </b></p></h3>
            <p>Lucy enjoys running in the park and climbing different obstacles. 
               Her favorite trick is “Give paw” on command. She looks so cute waiting for the 
               treat after she touches your hand. Just by saying the word paw. Lucy can stop what 
               she is doing and come directly to you, sit, and give you, her paw. She is always 
               upbeat and friendly to all guests.   </p>
           
        
        </div>

        </div>

    <div class ="extra">

        <h2>Customer Testimonials</h2>
        <hr class="class-1"/>
        <div class="card-content">
            <p>Judy Smith (March 2023)</p>
            <p>5 Stars!!!</p>
            <p>Pets-R-Us continues to surpass all my expectations. They know the 
               meaning of customer satisfaction. Every time I visit the store I am 
               greeted with warmth and caring. There is always someone available to help 
               me shop for my Annie. They have the best dog blankets.</p>
        </div>
        <br>
        <br>

        <div class="card-content">
            <p>Bruce Painter (May 2023)</p>
            <p>5 Stars!!!</p>
            <p>I could not be more pleased with the whole experience. Hank does not like 
               baths or even being brushed for long periods of time. The lady at the counter 
               (wish I could remember her name, sorry) really put our minds at ease- she 
               introduced herself to Hank and immediately he enjoyed being around her. They 
               really know what they are doing over there.  .</p>
        </div>

        <div class="card-content">
            <p>Albert Cort (September 2023)</p>
            <p>5 Stars!!!</p>
            <p>Many thanks to the staff at Pets-R-Us for taking care of Becker. After 2 years, 
               he has never smelled or looked better. Reminds of the first time I saw him and 
               picked him out of the litter of 8. Also, the training Becker is getting is excellent. 
               Every time I come back from a work trip, he is more attentive and follows directions 
               more often than before. This company means the world to me. Especially after the last 
               place I went.  </p>

        </div>

   
    </div>

    <div class="card1">
        <div class="location">
            <h2>Pets-R-Us: Store Location</h2>
            <hr class="class-1"/>
            <h3>4347 Shelby Lane, Lexington, Kentucky 40515</h3>
            <h3>Phone Number: 859.333.7387</h3>
            <br>
            <h2><p>We would love to see you soon!</p></h2></div>
    
     
    </div>

    <div class="card">
        <div class="hours card-content">
            <h2>Pets-R-Us: Store Hours</h2>
            <ul>
                <li>Mon 7:00 am - 9:00 pm </li>
                <li>Tue 7:00 am - 9:00 pm </li>
                <li>Wed 7:00 am - 9:00 pm </li>
                <li>Thu 7:00 am - 9:00 pm </li>
                <li>Fri 7:00 am - 9:00 pm </li>
                <li>Sat 9:00 am - 1:00 pm </li>
                <li>Sun 10:00 am - 2:00 pm </li>
            </ul>
        </div>
       
    </div>


</body>




<footer class="footer-main">
   
        &copy; <script>document.write(new Date().getFullYear())</script> - <a href="https://www.bellevue.edu/" target="blank">Bellevue University</a>
    

</footer>
  
</html>