<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>



<div>
    
    <header class="header-main">
        <div class="header-main-logo">
            <img src="img/logo.jpg" alt="Pets-R-Us">
                <nav class="header-main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/boarding">Boarding</a></li>
                        <li><a href="/grooming">Grooming</a></li>
                        <li><a href="/training">Training</a></li>
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/customerlist">Customer List</a></li>
                        <li><a href="/appointment">Appointment</a></li>
                    </ul>   
                </nav>
        </div>

        <div class="header-main-sm">
            <div class="header-main-sm-fb"></div>
            <div class="header-main-sm-in"></div>
        </div>
           

    </header>

    <div class ="navigation-background">
        <div class="container">
            <figure>
                <img
                  src="img/BeagleHP23.jpg"
                  alt="Pets-R-Us Lady holding dog"
                  class="navigation-image"
                  title="Photo by Kampus Production: https://www.pexels.com/photo/woman-cuddling-a-puppy-while-standing-8057575/ "
                />
                
                <figcaption>Photo by Kampus Production: https://www.pexels.com/photo/woman-cuddling-a-puppy-while-standing-8057575/ </figcaption> <!--currently does not show up on web page-->
              </figure> 
        </div>
    
</div>

<div class="grid-container-boarding" style="margin-left: 30%; margin-right: 30%;">
    <div class="card">
      <div class="card-content">
    <h3 class="grid-header">Registration Form</h3>
    <div class="grid-item">
      <!-- action needs to match the app.post in index.js -->
      <form action="/customers" method="post"> 
    <div class="form">
      <div class="form-field">
        <!-- customerId for the req.body.customerId -->
        <label for="customerId">Name:</label>
        <input type="text" class="input" id="customerId" name="customerId" required autofocus>
      </div>
    </div>
  </div>
  <div class="grid-item">
        <div class="form">
          <div class="form-field">
            <!-- email for the req.body.email -->
            <label for="email">Email:</label>
            <input type="text" class="input" id="email" name="email"/>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="form">
          <div class="form-field">
            <button type="submit" class="btn btn-primary full-width" id="btnSubmit" value="Pets-R-Us Register">Submit</button>
          </div>
        </div>
      </div>
    </form>
</div>
</div>
</div>
</div>
</div>