<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>



<div>
    
    <header class="header-main">
        <div class="header-main-logo">
            <img src="img/logo.jpg" alt="Pets-R-Us">
                <nav class="header-main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/boarding">Boarding</a></li>
                        <li><a href="/grooming">Grooming</a></li>
                        <li><a href="/training">Training</a></li>
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/customerlist">Customer List</a></li>
                        <li><a href="/appointment">Appointment</a></li>
                    </ul>   
                </nav>
        </div>

        <div class="header-main-sm">
            <div class="header-main-sm-fb"></div>
            <div class="header-main-sm-in"></div>
        </div>
           

    </header>

    <div class ="navigation-background">
        <div class="container">
            <figure>
                <img
                  src="img/BeagleHP23.jpg"
                  alt="Pets-R-Us Lady holding dog"
                  class="navigation-image"
                  title="Photo by Kampus Production: https://www.pexels.com/photo/woman-cuddling-a-puppy-while-standing-8057575/ "
                />
                
                <figcaption>Photo by Kampus Production: https://www.pexels.com/photo/woman-cuddling-a-puppy-while-standing-8057575/ </figcaption> <!--currently does not show up on web page-->
              </figure> 
        </div>
    
</div>