<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>



<div>
    
    <header class="header-main">
        <div class="header-main-logo">
            <img src="img/logo.jpg" alt="Pets-R-Us">
                <nav class="header-main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/boarding">Boarding</a></li>
                        <li><a href="/grooming">Grooming</a></li>
                        <li><a href="/training">Training</a></li>
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/customer-list">Customer List</a></li>
                        <li><a href="/appointment">Appointment</a></li>
                    </ul>   
                </nav>
        </div>

        <div class="header-main-sm">
            <div class="header-main-sm-fb"></div>
            <div class="header-main-sm-in"></div>
        </div>
           

    </header>

    <div class ="navigation-background">
        <div class="container">
            <figure>
                <img
                  src="img/BeagleHP22.jpg"
                  alt="Pets-R-Us Beagle puppy on leash"
                  class="navigation-image"
                  title="Photo by Valeria Boltneva: https://www.pexels.com/photo/photo-of-a-curious-dog-14116529/ "
                />
                
                <figcaption>Photo by Valeria Boltneva: https://www.pexels.com/photo/photo-of-a-curious-dog-14116529/ </figcaption> <!--currently does not show up on web page-->
              </figure> 
        </div>
    
</div>
<!--trainer information-->
<div class="grid-container">
    <div class="card">
      <div class="card-content">
        <h3 class="grid-header">Get to know our trainers</h3>
        <div class="grid-item">
        <ul>
          <li><b>Basic Training: $80</b></li>
          <li>
            This packages is basic obedience training for your puppy! We will learn basic commands like sit, come and lay. We will also explore positive reinforcement and appropriate ways to discipline your dog.
          </li>
        </div>
        <div class="grid-item">
          <li><b>Advanced Training: $100</b></li>
          <li>
            This package is for Advanced puppy training. We will teach you how to crate train, walk your dog, behavior training and socialization tips.
          </li>
        </div>
        <div class=" grid-item">
          <li><b>Basic Retriever Training: $200</b></li>
          <li>
            This package is for Basic Retriever training. This is for sport puppies who plan on competing or hunting. We will teach them commands to retrieve and work on basic scenting work. Your puppy will learn discipline to wait for commands and retrieve. Introduce your puppy to the water retrieving.
          </li>
        </div>
        </ul>
      </div>
    </div>
  </div>
<!--package information-->
<div class="grid-container">
    <div class="card">
      <div class="card-content">
        <h3 class="grid-header">Check out our Puppy Training Packages!</h3>
        <div class="grid-item">
        <ul>
          <li><b>Basic Training: $80</b></li>
          <li>
            This packages is basic obedience training for your puppy! We will learn basic commands like sit, come and lay. We will also explore positive reinforcement and appropriate ways to discipline your dog.
          </li>
        </div>
        <div class="grid-item">
          <li><b>Advanced Training: $100</b></li>
          <li>
            This package is for Advanced puppy training. We will teach you how to crate train, walk your dog, behavior training and socialization tips.
          </li>
        </div>
        <div class=" grid-item">
          <li><b>Basic Retriever Training: $200</b></li>
          <li>
            This package is for Basic Retriever training. This is for sport puppies who plan on competing or hunting. We will teach them commands to retrieve and work on basic scenting work. Your puppy will learn discipline to wait for commands and retrieve. Introduce your puppy to the water retrieving.
          </li>
        </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-content">
    <h3 class="grid-header">Check out our Puppy Training Packages!</h3>
    <div class="grid-item">
    <ul>
      <li><b>Basic Training: $80</b></li>
      <li>
        This packages is basic obedience training for your puppy! We will learn basic commands like sit, come and lay. We will also explore positive reinforcement and appropriate ways to discipline your dog.
      </li>
    </div>
    </div>