<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    

</head>



<body>
    
    <header class="header-main">
        <div class="header-main-logo">
            <img src="img/logo.jpg" alt="Pets-R-Us">
                <nav class="header-main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="boarding">Boarding</a></li>
                        <li><a href="grooming">Grooming</a></li>
                        <li><a href="training">Training</a></li>
                        <li><a href="register">Registration</a></li>
                        <li><a href="#">Customer List</a></li>
                        <li><a href="#">Appointment</a></li>
                    </ul>   
                </nav>
        </div>
        
        
        <div class="header-main-sm">
            <div class="header-main-sm-fb"></div>
            <div class="header-main-sm-in"></div>
        </div>
           

    </header>