<body>
    <header>
        <%- include('partial/header')%>
    </header>

    <div class="Overall-main">
        <div class="Overall-main-pic">
            <img src="img/DOTW.jpg" alt="Beagle in Basket">
        </div>
    
    
    </div>
    
