<body>
    <header>
        <%- include('partial/header')%>
    </header>

    <div class="Overall-main">
        <div class="Overall-main-pic">
            <img src="img/BeagleHP4.jpg" alt="Training Puppy">
        </div>
    
    
    </div>
    